# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Web Quiz Engine with Java/*
!/Web Quiz Engine with Java/task/
/Web Quiz Engine with Java/task/*
!/Web Quiz Engine with Java/task/src
!/Web Quiz Engine with Java/task/build.gradle
