# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/compiler.xml
/externalDependencies.xml
/gradle.xml
/libraries/Gradle__antlr_antlr_2_7_7.xml
/libraries/Gradle__ch_qos_logback_logback_classic_1_2_6.xml
/libraries/Gradle__ch_qos_logback_logback_core_1_2_6.xml
/libraries/Gradle__com_fasterxml_classmate_1_5_1.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_12_5.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_12_5.xml
/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_12_5.xml
/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_12_5.xml
/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_12_5.xml
/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_parameter_names_2_12_5.xml
/libraries/Gradle__com_github_hyperskill_hs_test_release_SNAPSHOT.xml
/libraries/Gradle__com_google_code_gson_gson_2_8_8.xml
/libraries/Gradle__com_google_code_gson_gson_2_8_9.xml
/libraries/Gradle__com_h2database_h2_1_4_200.xml
/libraries/Gradle__com_sun_activation_jakarta_activation_1_2_2.xml
/libraries/Gradle__com_sun_istack_istack_commons_runtime_3_0_12.xml
/libraries/Gradle__com_zaxxer_HikariCP_4_0_3.xml
/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/libraries/Gradle__commons_codec_commons_codec_1_15.xml
/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/libraries/Gradle__io_micrometer_micrometer_core_1_7_5.xml
/libraries/Gradle__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/libraries/Gradle__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
/libraries/Gradle__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
/libraries/Gradle__jakarta_validation_jakarta_validation_api_2_0_2.xml
/libraries/Gradle__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/libraries/Gradle__junit_junit_4_13_2.xml
/libraries/Gradle__net_bytebuddy_byte_buddy_1_10_22.xml
/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_13.xml
/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_13.xml
/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_14.xml
/libraries/Gradle__org_apache_logging_log4j_log4j_api_2_14_1.xml
/libraries/Gradle__org_apache_logging_log4j_log4j_to_slf4j_2_14_1.xml
/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_9_0_54.xml
/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_9_0_54.xml
/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_54.xml
/libraries/Gradle__org_aspectj_aspectjweaver_1_9_7.xml
/libraries/Gradle__org_assertj_assertj_core_3_17_2.xml
/libraries/Gradle__org_assertj_assertj_core_3_19_0.xml
/libraries/Gradle__org_assertj_assertj_swing_3_17_1.xml
/libraries/Gradle__org_assertj_assertj_swing_junit_3_17_1.xml
/libraries/Gradle__org_dom4j_dom4j_2_1_3.xml
/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/libraries/Gradle__org_glassfish_jaxb_jaxb_runtime_2_3_5.xml
/libraries/Gradle__org_glassfish_jaxb_txw2_2_3_5.xml
/libraries/Gradle__org_hamcrest_hamcrest_2_2.xml
/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/libraries/Gradle__org_hamcrest_hamcrest_core_2_2.xml
/libraries/Gradle__org_hdrhistogram_HdrHistogram_2_1_12.xml
/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/libraries/Gradle__org_hibernate_hibernate_core_5_4_32_Final.xml
/libraries/Gradle__org_hibernate_validator_hibernate_validator_6_2_0_Final.xml
/libraries/Gradle__org_javassist_javassist_3_27_0_GA.xml
/libraries/Gradle__org_jboss_jandex_2_2_3_Final.xml
/libraries/Gradle__org_jboss_logging_jboss_logging_3_4_2_Final.xml
/libraries/Gradle__org_latencyutils_LatencyUtils_2_0_3.xml
/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_32.xml
/libraries/Gradle__org_slf4j_slf4j_api_1_7_32.xml
/libraries/Gradle__org_springframework_boot_spring_boot_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_actuator_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_actuator_autoconfigure_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_actuator_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_aop_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jpa_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_json_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_security_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_validation_2_5_6.xml
/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_2_5_6.xml
/libraries/Gradle__org_springframework_data_spring_data_commons_2_5_6.xml
/libraries/Gradle__org_springframework_data_spring_data_jpa_2_5_6.xml
/libraries/Gradle__org_springframework_security_spring_security_config_5_5_3.xml
/libraries/Gradle__org_springframework_security_spring_security_core_5_5_3.xml
/libraries/Gradle__org_springframework_security_spring_security_crypto_5_5_3.xml
/libraries/Gradle__org_springframework_security_spring_security_web_5_5_3.xml
/libraries/Gradle__org_springframework_spring_aop_5_3_12.xml
/libraries/Gradle__org_springframework_spring_aspects_5_3_12.xml
/libraries/Gradle__org_springframework_spring_beans_5_3_12.xml
/libraries/Gradle__org_springframework_spring_context_5_3_12.xml
/libraries/Gradle__org_springframework_spring_core_5_3_12.xml
/libraries/Gradle__org_springframework_spring_expression_5_3_12.xml
/libraries/Gradle__org_springframework_spring_jcl_5_3_12.xml
/libraries/Gradle__org_springframework_spring_jdbc_5_3_12.xml
/libraries/Gradle__org_springframework_spring_orm_5_3_12.xml
/libraries/Gradle__org_springframework_spring_tx_5_3_12.xml
/libraries/Gradle__org_springframework_spring_web_5_3_12.xml
/libraries/Gradle__org_springframework_spring_webmvc_5_3_12.xml
/libraries/Gradle__org_yaml_snakeyaml_1_28.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/frameworkLessonHistory/storage.storageData
/frameworkLessonHistory/storage.storageRecordIndex
/vcs.xml
/modules/Web_Quiz_Engine_with_Java.iml
/modules/util/Web_Quiz_Engine_with_Java.util.iml
/modules/util/Web_Quiz_Engine_with_Java.util.main.iml
/modules/util/Web_Quiz_Engine_with_Java.util.test.iml
/modules/Web Quiz Engine with Java/task/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task.iml
/modules/Web Quiz Engine with Java/task/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task.main.iml
/modules/Web Quiz Engine with Java/task/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task.test.iml
/modules/Web Quiz Engine with Java/task/build/classes/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-classes-java.iml
/modules/Web Quiz Engine with Java/task/build/classes/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-classes-java.main.iml
/modules/Web Quiz Engine with Java/task/build/classes/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-classes-java.test.iml
/modules/Web Quiz Engine with Java/task/build/generated/sources/annotationProcessor/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-generated-sources-annotationProcessor-java.iml
/modules/Web Quiz Engine with Java/task/build/generated/sources/annotationProcessor/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-generated-sources-annotationProcessor-java.main.iml
/modules/Web Quiz Engine with Java/task/build/generated/sources/annotationProcessor/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-generated-sources-annotationProcessor-java.test.iml
/modules/Web Quiz Engine with Java/task/build/generated/sources/headers/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-generated-sources-headers-java.iml
/modules/Web Quiz Engine with Java/task/build/generated/sources/headers/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-generated-sources-headers-java.main.iml
/modules/Web Quiz Engine with Java/task/build/generated/sources/headers/java/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-generated-sources-headers-java.test.iml
/modules/Web Quiz Engine with Java/task/build/reports/tests/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-reports-tests.iml
/modules/Web Quiz Engine with Java/task/build/reports/tests/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-reports-tests.main.iml
/modules/Web Quiz Engine with Java/task/build/reports/tests/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-reports-tests.test.iml
/modules/Web Quiz Engine with Java/task/build/test-results/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-test-results.iml
/modules/Web Quiz Engine with Java/task/build/test-results/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-test-results.main.iml
/modules/Web Quiz Engine with Java/task/build/test-results/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-test-results.test.iml
/modules/Web Quiz Engine with Java/task/build/tmp/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-tmp.iml
/modules/Web Quiz Engine with Java/task/build/tmp/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-tmp.main.iml
/modules/Web Quiz Engine with Java/task/build/tmp/Web_Quiz_Engine_with_Java.Web_Quiz_Engine_with_Java-task-build-tmp.test.iml
